@use "sass:map";

$breakpoints: (
  mobile: 800px,
  desktop: 1200px,
);

$mobile: "(max-width: #{map.get($breakpoints, mobile)})";
$tablet: "(min-width: #{map.get($breakpoints, mobile)}) and (max-width: #{map.get($breakpoints, desktop)})";
$desktop: "(min-width: #{map.get($breakpoints, desktop)})";

$pageWidth: #{map.get($breakpoints, mobile)};
$sidePanelWidth: 280px;
$topSpacing: 2rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

/* 모바일: 사이드바 없음 */
$mobileGrid: (
  templateRows: "auto auto auto",
  templateColumns: "auto",
  rowGap: "5px",
  columnGap: "0px",
  templateAreas:
    '"grid-header"\
      "grid-center"\
      "grid-footer"',
);

/* 태블릿: 사이드바 없음 */
$tabletGrid: (
  templateRows: "auto auto auto",
  templateColumns: "0px auto",
  rowGap: "5px",
  columnGap: "0px",
  templateAreas:
    '"grid-sidebar-left grid-header"\
      "grid-sidebar-left grid-center"\
      "grid-sidebar-left grid-footer"',
);

/* 데스크탑: 사이드바 280px */
$desktopGrid: (
  templateRows: "auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto 0px",
  rowGap: "5px",
  columnGap: "10px",
  templateAreas:
    '"grid-sidebar-left grid-header grid-sidebar-right"\
      "grid-sidebar-left grid-center grid-sidebar-right"\
      "grid-sidebar-left grid-footer grid-sidebar-right"',
);
